@model Front_ApiSoap_DentalFlow.ViewModels.UsuarioViewModel

@{
    ViewData["Title"] = "Editar Usuario";
}

<div class="container mt-4">

    <h3 class="text-warning">Editar Usuario</h3>

    <form method="post">

        <input type="hidden" asp-for="Id" />

        <div class="mb-3">
            <label class="form-label">Username</label>
            <input asp-for="Username" class="form-control" />
        </div>

        <div class="mb-3">
            <label class="form-label">Rol ID</label>
            <input asp-for="RolId" class="form-control" />
        </div>

        <div class="form-check mb-3">
            <input asp-for="Activo" class="form-check-input" />
            <label class="form-check-label">Activo</label>
        </div>

        <button class="btn btn-primary">Actualizar</button>
        <a href="/Usuario/Index" class="btn btn-secondary">Cancelar</a>

    </form>
</div>