@model Front_ApiSoap_DentalFlow.Models.Appointment.AppointmentTypeVM

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
    
    <!-- Input: Nombre -->
    <div class="mb-3">
        <label asp-for="name" class="form-label fw-bold text-dark">Nombre del Tipo de Cita</label>
        <input asp-for="name" type="text" class="form-control rounded-3 border-1 shadow-sm" placeholder="Ej: Consulta General" required />
        <span asp-validation-for="name" class="text-danger small"></span>
    </div>

    <!-- Input: Minutos -->
    <div class="mb-3">
        <label asp-for="minutos" class="form-label fw-bold text-dark">Duración (en minutos)</label>
        <input asp-for="minutos" type="number" min="1" class="form-control rounded-3 border-1 shadow-sm" placeholder="Ej: 30" required />
        <span asp-validation-for="minutos" class="text-danger small"></span>
    </div>

      <!-- Input: Precio -->
    <div class="mb-3">
        <label asp-for="price" class="form-label fw-bold text-dark">Duración (en minutos)</label>
        <input asp-for="price" type="number" min="1" class="form-control rounded-3 border-1 shadow-sm" step="0.01" min="0" placeholder="0.00" required />
        <span asp-validation-for="price" class="text-danger small"></span>
    </div>
    <!-- Botonera adaptada a tus estilos proporcionales -->
    <div class="modal-footer border-0 justify-content-center gap-2 pb-0 pe-0 ps-0 mt-4">
        <button type="button" class="btn bg-secondary bg-opacity-20 p-3 rounded-4 fw-bold text-dark flex-grow-1 border-0" data-bs-dismiss="modal">
            Cancelar
        </button>
        <button type="submit" class="btn bg-info bg-opacity-50 p-3 rounded-4 fw-bold text-dark flex-grow-1 border-0 shadow-sm">
            Registrar
        </button>
    </div>
</form>
